<?xml version="1.0"?>
<!--
/**
 * Mageprince
 *
 * @category    Mageprince
 * @package     Mageprince_MageAI
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mageai_generate_image_metadata" xsi:type="object">Mageprince\MageAI\Console\GenerateImageMetadataCommand</item>
                <item name="mageai_queue_image_metadata" xsi:type="object">Mageprince\MageAI\Console\QueueImageMetadataCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\CacheInterface">
        <plugin name="mageai_skip_cache_interface_clean" type="Mageprince\MageAI\Plugin\Cache\SkipCacheInterfaceCleanPlugin"/>
    </type>
    <type name="Magento\Framework\App\Cache\Proxy">
        <plugin name="mageai_skip_cache_proxy_clean" type="Mageprince\MageAI\Plugin\Cache\SkipCacheInterfaceCleanPlugin"/>
    </type>
    <type name="Magento\Framework\App\Cache\Type\AccessProxy">
        <plugin name="mageai_skip_cache_access_proxy_clean" type="Mageprince\MageAI\Plugin\Cache\SkipCacheAccessProxyCleanPlugin"/>
    </type>
    <type name="Magento\Framework\App\Cache\Manager">
        <plugin name="mageai_skip_cache_manager_flush" type="Mageprince\MageAI\Plugin\Cache\SkipCacheManagerPlugin"/>
    </type>
    <type name="Magento\Framework\App\Cache\TypeListInterface">
        <plugin name="mageai_skip_cache_type_clean" type="Mageprince\MageAI\Plugin\Cache\SkipCacheTypeListPlugin"/>
    </type>
    <type name="Magento\Framework\App\Cache\TypeList">
        <plugin name="mageai_skip_cache_type_list_clean" type="Mageprince\MageAI\Plugin\Cache\SkipCacheTypeListPlugin"/>
    </type>
    <type name="Magento\Framework\App\Cache\FlushCacheByTags">
        <plugin name="mageai_skip_cache_by_tags" type="Mageprince\MageAI\Plugin\Cache\SkipFlushCacheByTagsPlugin"/>
    </type>
</config>
